
.aliment{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 6rem;
}

.line{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    gap: 10px;

}
.line img{
    padding: 10px;
    background-color: rgb(234, 236, 235);
    width: 10rem;
    height: 10rem;
   
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(162, 201, 238);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 992px) { /* Para pantallas medianas */
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) { /* Para pantallas pequeñas */
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
