.title-container {
    display: flex; /* Colocar el logo y el título en una fila */
    align-items: center; /* Alinear verticalmente el logo y el título */
}

.title-container img:hover {
    transform: scale(1.1); /* Agrandar ligeramente al pasar el mouse */
}

.title-container h1 {
    font-family: 'Poppins', sans-serif; /* Fuente moderna */
    font-size: 2rem; /* Tamaño grande para el título */
    font-weight: 600; /* Negrita */
    color: rgb(6, 57, 116); /* Color del título */
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    margin: 1px; /* Eliminar márgenes */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Sombra de texto suave */
    border-bottom: 1px solid #0c2332;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 5px;
}

body {
    font-family: 'Roboto', sans-serif; /* Unificar la fuente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white; /* Color de fondo oscuro */
}

.custom-header {
    width: 100%;
    background-color: rgb(184, 218, 228); /* Color del encabezado */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra en el encabezado */
}

.custom-header h1, .custom-header h2 {
    font-family: 'Poppins', sans-serif; /* Fuente para encabezados */
    color: rgb(6, 57, 116); /* Color de texto */
}

.navbar {
    backdrop-filter: blur(30px); /* Efecto de desenfoque */
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37); /* Sombra de la barra de navegación */
    border: 2px solid rgba(255, 255, 255, 0.18); /* Borde de la barra de navegación */
}

.nav-link {
    color: rgb(6, 57, 116); /* Color de texto de los enlaces */
    margin: 0 15px; /* Espaciado entre enlaces */
    padding: 10px 15px; /* Espaciado interno de los enlaces */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.nav-link:hover {
    background-color: rgba(227, 228, 237, 0.2); /* Color de fondo al pasar el mouse */
    color: #2c3e50; /* Cambiar color de texto al pasar el mouse */
}

.mensaje {
    display: inline-block;
    white-space: nowrap; /* Evitar salto de línea */
    padding-left: 100%;
    animation: deslizante 40s linear infinite; /* Animación deslizante */
}

@keyframes deslizante {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}

.navbar-brand img {
    height: 115px; /* Altura de la imagen del logo */
    width: 115px; /* Ancho de la imagen del logo */
}

.nav-link:hover {
    transform: scale(1.05); /* Aumentar ligeramente el tamaño */
}