.delete-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.delete-card {
   max-width: 400px;
   padding: 2rem;
   text-align: center;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   background-color: rgb(255, 255, 255);
   border-radius: 8px;
   transition: all .4s ease-in-out;
}

.delete-card:hover{
   transform: scale(1.02);
}

.btn-delete {
   background-color: #b487e2;
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
}

.btn-delete:hover {
   background-color: #c9a1f1;
}

.btn-cancel {
   background-color: #7c8087;
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
}

.btn-cancel:hover {
   background-color: #888e98;
}