.borrar{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: .2rem;
  color: rgb(146, 5, 33);
  background-color: rgb(230, 106, 106);
  border: none;
  border-radius: 3px;
}
.borrar svg{
  width: 1.5rem;
}