body {
  font-family: 'Nunito', sans-serif;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  margin: 0;
  font-size: 100%;
}

form{
  color: rgb(255, 255, 255);
  height: fit-content;

  padding: 20px;
  padding-top: 2.7rem;
  padding-bottom: 3rem;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px 10px rgb(114, 177, 221);
  transition: all .6s ease-in-out;
}
form:hover{
  transform: scale(1.03);
}
.circle{
  display: flex;
  align-items: center;
  width: 80px;
  height: 60px;

}

.circle img{
  width: 100%;
  border-radius: 13rem;

}
.cerrar{
  cursor: pointer;
  font-size: 19px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;

  background-color: rgb(42, 153, 233);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 7px;
  transition: all .5s ease-in-out;
  margin-bottom: 10px;
}
.cancel{
  cursor:pointer;
  padding: 10px;
  font-size: 19px;
  text-align: center;
  width: 91.9%;

  background-color: #676767;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 7px;
  transition: all .5s ease-in-out;
  margin-bottom: 10px;

}

.cancel:hover{
  color: rgb(131, 199, 248);
  background-color: rgb(51, 58, 73);

}
.cancel:active{
  transform: scale(0.97);
}
.cerrar:hover{
  color: rgb(13, 45, 68);
  background-color: rgb(70, 190, 234);
}
.cerrar:active{
  transform: scale(0.97);
}

.info {
  margin: 0 auto;
  color: #111420;
  width: 100%;
  font-size: 17px;
  font-weight: 100;
}
.help a{
  color: #667eea;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
}

h3{
  color: #111420;
  font-weight:bold;
  font-size:large;
}