{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Empleado</title>
    {% block css %}
<link rel="stylesheet" href="{% static 'style/forms_inline.css' %}">
{% endblock css %}
</head>
<body>
    {% if var == "edit" %}
    <style type="text/css">
        :root {
          --color-51: #fdfde9;
          --color-100: #fafbc6;
          --color-200: #f9f68f;
          --color-300: #f5ea4f;
          --color-400: #f0d91f;
          --color-500: #e0c112;
          --color-600: #c1970d;
          --color-700: #a9780f;
          --color-800: #805713;
          --color-900: #6d4716;
          --color-950: #3f2509;
      }
    </style>
    {% endif %}
    <style type="text/css">
        
    </style>
    <a href="/Empleado/Lista/"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
      </svg>Lista de Empleados</a>
          <form method="POST">

              <button type="submit" class="submit">Guardar Empleado</button>
              <div class="main-conteiner">
              {% csrf_token %}
              <div class="form">
              {{ empleado_form.as_p }}
              </div>
              <div class="formset-conteiner">
              <button class="add"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg> Agregar Empleado</button>
              <div class="formset">
              {{ adelanto_formset.management_form }}
              {% for f in adelanto_formset %}
                  {{ f.as_p }}
              {% endfor %}
              </div>
              </div>
              </div>
          </form>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            var input = document.getElementById('id_FechaContratacion');
            input.setAttribute('type', 'date');
        });
</script>
</body>
</html>
