{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Empleado</title>
    {% block css %}
<link rel="stylesheet" href="{% static 'style/forms.css' %}">
{% endblock css %}
</head>
<body>
    <h1>Empleado</h1>
    <a href="/">Ia inicio</a>
    <form method="post">
        {% csrf_token %}
        {{ empleado_form.as_p }}
        {{ adelanto_formset.management_form }}
        {% for form in adelanto_formset %}
            {{ form.as_p }}
        {% endfor %}
        <button type="submit">Guardar</button>
    </form>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            var input = document.getElementById('id_FechaContratacion');
            input.setAttribute('type', 'date');
        });
</script>
</body>
</html>
