
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artículos</title>
    {% block  css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style\art.css' %}">
    {% endblock css %}
</head>

<body>
    <br><br><br>
    <br><h2 class="text-center fw-light">Artículos</h2>
    <div class="container mt-5">
        <span class="d-flex flex-row" style="gap: 3rem;">
            <section style="display: grid; gap: 2rem; padding: 5px; max-width: 1200px; margin: auto;"
            class="grid-container">
                {% for objeto in obj %}
                    <div class="card" style="max-width: 18rem; padding:1rem;" id="article-{{ obj.codigo }}">
                        <img class="card-img-top" style="width:6rem;" src="{{ objeto.img }}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">{{ objeto.nombre }}</h5>
                        <p class="card-text">${{ objeto.precio }}</p>
                        <a href="/Articulos/detalle/{{ objeto.codigo }}" class="btn btn-primary" style="background-color: rgb(162, 201, 238); border-color: rgb(158, 196, 231); color: #111420">Ver detalle</a>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </span>

        <br><br>
        <h3>Alimento Balanceado</h3>
        <p>Nuestras principales líneas</p>
        <section class="aliment">
            <div>
                <h3>Eukanuba</h3>
                <div class="line">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTPiNe6YVjYgx6vxv9F4vyyeMjpxgxlTVRlA&s">
                <img src="https://acdn.mitiendanube.com/stores/979/500/products/eukanuba-puppy-small-breed1-8019de202ca6f8d4ee16835728784358-480-0.png">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRANzQ39Wt1PRvsX3sxdZuiZNs1s4t-K6KQLw&s">
                </div>
            </div>

            <div>
                <h3>Royal Canin</h3>
                <div class="line">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-qhJyucRsb_Ocu6ImSyhvrSgdoYrJBvGzRw&s">
                <img src="https://catycanar.vtexassets.com/arquivos/ids/155663/1629.jpg?v=637732965138070000">
                <img src="https://static.miscota.com/media/1/photos/products/000041/royal-canin-mini-junior-66df0abea6ebd_g.jpg">
               
                </div>
                
            </div>

            <div class="line">
                <h3>Agility</h3>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1KmouhfFeTY57Kin2TM46Ec4a2XP5LT3_rQ&s">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0bGfnj-53mA84vQWQQp8YMS5QUcoOEWsBBo-dyY9u_3fek3CgY4X3TqWCmBzGxktZ0nk&usqp=CAU">
                <img src="https://kangoopetfoodar.vtexassets.com/arquivos/ids/156447/agility-gato-adulto-urinary-x-1-5-kg-01.jpg?v=638343211494800000">
            </div>

            <div class="line">
                <h3>Premium</h3>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThe02fpHTRbZlThpEL8pYU9yMSFvQSusGWgg&s">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQexbGH13okm-PQGM1az1nqWiNHNxOInIQWQw&s">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHsfkKjC0y-ByvHH8Q8kfktAfIGjdhEZDeMQ&s">
            </div>
        </section>
        <br><br>
    </div>

</body>
</html>

{% endblock %}
{% block footer %}
{% include 'footer.html'%}
{% endblock %}