{% extends 'base.html'%}
{% block content %}
{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    {% block css%}
    <link rel="stylesheet" href="{% static '' %}">
    {% endblock css %}
</head>
<body>
<br><br><br>
<br><h2 class="text-center fw-light">Nuestros Servicios</h2>

    <div class="container mt-5">
        <span class="d-flex flex-row" style="gap: 3rem;">
            <div class="card" style="width: 40rem;">
                <img class="card-img-top" src="{% static '\images\vacunacion.jpg' %}" alt="img-vete" style="border-radius: 50%; width: 8rem; height: 8rem; padding: 1rem">
                <div class="card-body">
                  <h4 class="card-title"><span class="d-flex flex-row" style="gap: 0.5rem;"><img src="{% static '\assets\vac.svg' %}" style="width: 2rem;">Vacunación</span></h4>
                  <p class="card-text">Realizamos vacunación de prevención completa, para perros y gatos sin rango etario.</p>
                  <a href="#" class="btn btn-primary" style="background-color: rgb(162, 201, 238); border-color: rgb(158, 196, 231); color: #111420">Pedir Turno</a>
                </div>
            </div>
            <div class="card" style="width: 40rem;">
                <img class="card-img-top" src="{% static '\images\pelu.jpg' %}" alt="img-pelu" style="border-radius: 50%; width: 8rem; height: 8rem; padding: 1rem">
                <div class="card-body">
                  <h4 class="card-title"><span class="d-flex flex-row" style="gap: 0.5rem;"><img src="{% static '\assets\pelo.svg' %}" style="width: 2rem;">Peluquería</span></h4>
                  <p class="card-text">Servicios de corte y baño <br> Aclaración: si la mascota no se muestra dócil deberá ser anestesiado.</p>
                  <a href="#" class="btn btn-primary"  style="background-color: rgb(162, 201, 238); border-color: rgb(158, 196, 231); color: #111420">Pedir Turno</a>
                </div>
            </div>
        </span><br>

        <span class="d-flex flex-row" style="gap: 3rem;">
            <div class="card" style="width: 40rem;">
                <img class="card-img-top" src="{% static '\images\operacion.jpg' %}" alt="img-operaciones" style="border-radius: 50%; width: 8rem; height: 8rem; padding: 1rem">
                <div class="card-body">
                  <h4 class="card-title"><span class="d-flex flex-row" style="gap: 0.5rem;"><img src="{% static '\assets\doc.svg' %}" style="width: 2rem;">Operaciones</span></h4>
                  <p class="card-text">Realizamos diversas operaciones, como castraciones, amputaciones, eutanasia, vaciamientos etc.</p>
                </div>
            </div>
            <div class="card" style="width: 40rem;">
                <img class="card-img-top" src="{% static '\images\marca1.png' %}" alt="img-ventas" style="border-radius: 50%; width: 8rem; height: 8rem; padding: 1rem">
                <div class="card-body">
                  <h4 class="card-title"><span class="d-flex flex-row" style="gap: 0.5rem;"><img src="{% static '\assets\store.svg' %}" style="width: 2rem;">Ventas</span></h4>
                  <p class="card-text">Medicamentos: Contamos con gran variedad de medicamentos, desparasitantes, fármacos etc. <br>Aliemento Balanceado: Vendemos únicamente alimento para perros y gatos, consulta nuestras <a href="/Articulos/">marcas.</a></p></p>
                </div>
            </div>
        </span>

    </div>

</body><br><br><br><br>
</html>
{% endblock %}

{% block footer %}
{% include 'footer.html'%}
{% endblock %}

