{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<style type="text/css">
    .back svg:hover {
        background-color:rgb(165, 186, 205);
    }
</style>
<br>
<h1 style="margin: 0 auto;">Recepción de Datos</h1><br>
<div class="cont" style="width: 70%; margin: 0 auto; background-color:rgb(219, 234, 247);; padding: 10px;border-radius:1%">
    <div>
        <a class="back" onclick="history.back()" style="cursor: pointer; color: black; text-decoration: none;">
            <svg style="width: 2.5rem; padding: 10px; transition: all .5s; border-radius: 5rem; text-decoration: none;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 19.5-15-15m0 0v11.25m0-11.25h11.25" />
            </svg>
            Volver
        </a>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label" style="color: #2D2C2E;">Gmail</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="tu-email@gmail.com" required value="{{obj.Gmail}}">
    </div>
    <div class="mb-3">
        <label for="motivo" class="form-label" style="color: #2D2C2E;">Motivo</label>
        <textarea class="form-control" id="motivo" name="motivo" rows="4" placeholder="Explique el motivo..." required>{{obj.asunto}}</textarea>
    </div>
    <div class="mb-3">
        <label for="nombre" class="form-label" style="color: #2D2C2E;">Nombre</label>
        <input class="form-control"  value="{{obj.Nombre}}" >
    </div>
</div>
{% endblock %}
