{% extends 'base.html' %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lista de Subscriptos</title>
    </head>
    <body>
        {% block content %}
        <br>
        <br>
        <br>
        <div id="contenido" class="container">
            <div id="titulo" class="row pb-3">
                <h2 class="col-9 col-md-6">Listado de Subscriptos</h2>
                <form method="GET" class="d-none d-md-table-cell col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" value="{{ query }}" placeholder="Proveedor....">
                        <button class="btn btn-primary text-light" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <div style="width: 100%; overflow-x: scroll;">
            <table class="table table-responsive table-striped" style="width: fit-content; margin: 0 auto;">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Gmail</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
              
                <tbody class="table-group-divider">
                    {% for p in obj %}
                    <tr >
                        <td>{{ p.id }}</td>
                        <td>{{ p.Gmail }}</td>
                        <td>{{ p.Nombre  }}</td>
                        <td>
                            {% if user.is_staff %}
                            <a class="btn btn-danger" href="/Subscription/delete/{{p.id}}">Borrar</a>
                            {% endif %}
                            <a href="/Subscription/detail/{{p.id}}/" class="btn btn-success">Detalle</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <a class="btn btn-outline-primary mb-3" href="?page=1">Primera</a>
                <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                <span class="current-page btn btn-outline-light disabled text-primary mb-3">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
                {% endif %}
            </div>
        </div>
        {% endblock %}
    </body>
</html>
