{% extends 'base.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'style/lista.css' %}">
        {% endblock css %}
        <title>Lista de Subscriptos</title>
    </head>
    <body>
        <br>
        <br>
        <br>
        <div id="contenido" class="container"><br>
            <div id="titulo" class="row pb-3">
                <h2 class="col-9 col-md-6">Listado de Suscriptores</h2>
            </div>
            <div style="width: 100%; overflow-x: scroll;">
            <table class="table table-responsive table-striped" style="width: fit-content; margin: 0 auto;">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Gmail</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
              
                <tbody class="table-group-divider">
                    {% for p in obj %}
                    <tr >
                        <td>{{ p.id }}</td>
                        <td>{{ p.Gmail }}</td>
                        <td>{{ p.Nombre  }}</td>
                        <td>
                            {% if user.is_staff %}
                            <a class="btn btn-danger" href="/Subscription/delete/{{p.id}}">Borrar</a>
                            {% endif %}
                            <a href="/Subscription/detail/{{p.id}}/" class="btn btn-borrar">Detalle</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <a class="btn btn-outline-primary mb-3" href="?page=1">Primera</a>
                <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                <span class="current-page btn btn-outline-light disabled text-primary mb-3">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
                {% endif %}
            </div>
        </div>
        {% endblock %}
    </body>
</html>
