{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Eliminar ítem</title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'style/form_delete.css' %}">
    {% endblock css %}
</head>
<body>
    <div class="delete-container">
        <div class="delete-card">
            <div class="mb-3">
                <i class="fas fa-exclamation-circle warning-icon"></i>
            </div>
            <img src="{% static 'images/advertencia.svg' %}" alt="advertencia" style="height: 70px; width:70px; padding-bottom: 1rem;">
            <h4 class="mb-3">¿Está seguro de que desea eliminar este registro?</h4>
            <p class="text-muted">Esta acción es irreversible.</p>
            <p class="text-muted">No recomendable si el proveedor tiene artículos registrados.</p>

    <div class="container text-center">
        <form method="POST" style="">
            {% csrf_token %}
            <div class="form-check">
                {{ form.confirm }}
                <label class="form-check-label" for="confirm">{{ form.confirm.label }}</label>
            </div>
            <button type="submit" class="btn btn-delete">Eliminar</button>
            <a onclick="history.back()" class="btn btn-cancel">Cancelar</a>
        </form>
    </div>
</body>
</html>
{% endblock %}
