{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ventas</title>
    {% block css %}
<link rel="stylesheet" href="{% static 'style/forms_inline.css' %}">
{% endblock css %}
 
</head>
<body>
    <h1></h1>
    <a href="/Ventas/Lista/"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
</svg>Lista de Ventas</a>
    <form method="POST">
        <button type="submit" class="submit">Guardar Ventas</button>
        <div class="main-conteiner">
        {% csrf_token %}
        <div class="form">
        {{ form.as_p }}
        </div>
        <div class="formset-conteiner">
        <button class="add"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
</svg> Agregar Producto</button>
        <div class="formset">
        {{ formset.management_form }}
        {% for f in formset %}
            {{ f.as_p }}
        {% endfor %}
        </div>
        </div>
        </div>
    </form>
</body>
</html>


