<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  {% block css %}
  <link rel="stylesheet" href="{% static 'style\logout.css' %}">
  {% endblock css %}
  <title>LogOut</title>
  <style>
    body {
        background-image: url("{% static 'images/fondologin.jpg' %}");
    }
</style>
</head>

<body>
 <form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <div class="circle">
    <img src="{% static '.\images\Admin.png' %}" alt="">
  </div>
  <h2>¿Desea cerrar sesión?</h2>
    <span class="info">
    </p>Si usted cierra sesión no podrá acceder <br> a todas las funciones de administrador.</p>
    </span>
  <button class="cerrar" type="submit">
    Cerrar Sesión
  </button>
  <a class="cancel" onclick="history.back()">Cancelar</a>
</form>
</body>
</html>
