<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block css %}
  <link rel="stylesheet" href="{% static 'style\logout.css' %}">
  {% endblock css %}
  <title>LogOut</title>
</head>
<body>
 <form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <div class="circle">
    <img src="{% static '.\images\Admin.png' %}" alt="">
  </div>
  <h3>¿Desea cerrar sesión?</h3>
    <span class="info">
    </p>Si usted cierra sesión no podrá acceder <br> a todas las funciones de administrador</p>
    </span>
  <button class="cerrar" type="submit">
    Cerrar Sesión
  </button>
  <a class="cancel" onclick="history.back()">Cancelar</a>
  <br>
  <div class="help">
    <a href="#">¿Tienes cuenta?</a>
    <a href="#">¿Tienes dudas?</a>
  </div>
</form>
</body>
</html>