{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Footer 02</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        <link rel="stylesheet" href="{% static 'style\footer.css' %}">
        {% endblock css %}
    </head>
    <body>
        <footer>
            <div class="footer-line"></div>
            <div class="footer-wrapper">
                <section class="footer-top">
                    <div class="footer-headline">
                        <h2>Suscríbete a nuestro boletín</h2>
                        <p>
                            Mantente al día con nuestras noticias y artículos
                        </p>
                    </div>
                    <div class="footer-subscribe">
                    <button class="footer-subscribe" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Subscribete!</button>
                    </div>
                    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 100%;">
      <div class="modal-header" style="width: 100%:">
        <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">Proporcione los datos necesarios:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="width: 100%;">
       
       
      
                        <form method="post" class="footer-subscribe" style="display: flex; align-items:center; width: 100%;">
                            {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" style="background-color: rgb(162, 201, 238); color: #111420">
                            Suscribirse
                        </button>
                    </form>
                    </div> 
      
    </div>
  </div>
</div>
                    
                </section>
                <div class="footer-columns">
                    <section class="footer-logo">
                       
                        
                        <div style="width: 8.5rem; ">
                            <img src="{% static 'images/vete2.png' %}" alt="" style="width: 100%;"></a>
                        </div>
                    </section>
                    <section>
                        <h3>Servicios</h3>
                        <ul>
                            <li>
                                <a href="/Service/" title="Estética">Estética y Salud</a>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <h3>Recursos</h3>
                        <ul>
                            <li>
                                <a href="{% url 'sitemap' %}" title="Mapa del Sitio">Mapa del Sitio</a>
                            </li>
                            
                            </li>
                        </ul>
                    </section>
                    <section>
                        <h3>Nosotros</h3>
                        <ul>
                            <li>
                                <a href="/Contact/" title="Contacto">Contacto</a>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <h3>Legal</h3>
                        <ul>
                            
                            <li>
                                <a href="/Contact/" title="Contacto">
                                    Contacto
                                </a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="footer-bottom">
                    <small>© La Cucha Veterinaria. <span id="year"></span>, Todos los derechos reservados</small>
                    <span class='social-links'>
                        <a href="https://www.instagram.com/veterinarialacucha20/?hl=es" title="Instagram">
                            <img src="{% static 'assets\instagram.svg' %}" alt='Instagram'>                       
                        </a>
                        <a href="https://github.com/CuelloSanty/veterinaria.git" title="GitHub">
                            <img src="{% static 'assets\github.svg' %}" alt='GitHub'>
                        </a>
                    </span>
                </div>
            </div>
        </footer>
        
        <script>
            document.getElementById("year").innerHTML = new Date().getFullYear();
        </script>
    </body>
</html>
