<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Untitled</title>
    
        <link rel="author" href="humans.txt">
    </head>
    <body>
        <header>
            <nav>
                <a href="/emp/">Empleados</a>
                <a href="/Articulos/Lista/">Articulos Lista</a> 
                <a href="/Proveedor/Lista/">Proveedor Listas</a>
                <a href="/Cliente/Lista/">Cliente Listas</a>
                <a href="/Mascota/Lista/">Mascota Listas</a>
            </nav>
        </header>
        
        
    </body>
</html>

