{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Articulos</title>
    {% block css %}
<link rel="stylesheet" href="{% static 'style/forms.css' %}">
{% endblock css %}
</head>
<body>
    <br>
    <br>
    <br>
    <h2>{% if view.action == 'add' %}Crear{% else %}Actualizar{% endif %} Item</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>

<script>
        document.addEventListener('DOMContentLoaded', function() {
            var input = document.getElementById('id_vencimiento');
            input.setAttribute('type', 'date');
        });
</script>
</body>
</html>