{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Cliente</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'style/forms.css' %}">
    {% endblock css %}
</head>

<body>
    <br><br><br><br><br>
    <form method="post">
        {% csrf_token %} 
        {{ form.as_p }}
        
        <div class="buttons-container">
            <button type="submit">Guardar</button>
            <button type="button" onclick="history.back()">Cancelar</button>
        </div>
        <div class="icon-container">
            <img src="{% static 'images/perritos1.png' %}" alt="Icono" class="icon">
        </div>
    </form>
    <br><br>
</body>
{% endblock  %}
